// 
extends layout

block viewport 
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

block headcontent
  link(rel='stylesheet', href='/stylesheets/graph2d.css')
  script(src="/javascripts/math.js" type="text/javascript")
  script(src="/javascripts/pts.js")
  script(src="/javascripts/input-parser.js" type="module")
  script(src="/javascripts/eigs.js" type="module")
  script(src="/javascripts/vector.js" type="module")
  script(src="/javascripts/matrix.js" type="module")
  script(defer src="/javascripts/graph.js" type="module")
  script(defer src="/javascripts/main.js" type="module")
  script(defer src="/javascripts/panel.js" type="module")
  //- script(src="/javascripts/compiled.js" type="module")
  meta(name="description", content="Visualize vectors, matrices, determinants, and much more with Graph Linear Algebra!")
  meta(property="og:title" content="Graph Linear Algebra | Visualize matrices, vectors, and more")
  meta(property="og:description" content="Visualize vectors, matrices, determinants, and much more with Graph Linear Algebra!")

block content
  #top-wrapper
    #top-bar
      a#favicon(href="/")
      #title
        a(href="/")="Graph Linear Algebra"
      nav
        .bar-button#matrices-button.disabled="Matrices"
        .bar-button#vectors-button.disabled="Vectors"
        .bar-button#tools-button.disabled="Tools"
        .bar-button#help-button.disabled
          a(href="/help" target="_blank")="Help"
    #matrices-bar.content-bar.disabled
      .add-button#matrices-add-button.disabled="add"
      .transform-button#matrices-transform-button.disabled="transform"
      .list-button#matrices-list-button.disabled="list"
    #vectors-bar.content-bar.disabled
      .add-button#vectors-add-button.disabled="add"
      .include-unit-vectors-button#vectors-include-unit-vectors-button.disabled="unit vectors"
      .list-button#vectors-list-button.disabled="list"
    #tools-bar.content-bar.disabled
      .dot-product#dot-product-button.disabled="dot product"
      .determinant#determinant-button.disabled="determinant"
      .eigen-vector#eigen-button.disabled="eigen"
    #help-bar.content-bar.disabled

  //- MATRIX ADD
  .property-frame#matrices-add-frame(data-width="230px")
    .top-bar.draggable
      .close-button
      .title="add matrices"
    ul.properties-list
      li.text-field
        .left-wrapper
          .label="name"
        .right-wrapper
          .text-field#matrices-add-name-field(contenteditable="true" spellcheck="false")
      li.matrix
        .left-wrapper
          .label="matrix"
        .right-wrapper
          .input-matrix
            .left-bracket
            .middle
              .c0 
                #matrices-add-c0x.x(contenteditable="true" spellcheck="false")="0"
                #matrices-add-c0y.y(contenteditable="true" spellcheck="false")="0"
              .c1
                #matrices-add-c1x.x(contenteditable="true" spellcheck="false")="0"
                #matrices-add-c1y.y(contenteditable="true" spellcheck="false")="0"
            .right-bracket
    .button-list
      .button.add#matrices-add-frame-add-button="add"
      .button.cancel#matrices-add-frame-cancel-button="cancel"


  //- MATRIX TRANSFORM
  .property-frame#matrices-transform-frame(data-width="300px")
    .top-bar.draggable
      .close-button
      .title="transform"
    .ul.properties-list
      li.transform-input
        .left-wrapper
          .label="input"
        .right-wrapper
          .text-field#transform-text-field(contenteditable="true" spellcheck="false")="I"
      li.transform-output
        .left-wrapper
          .label="output"
        .right-wrapper
          .matrix
            .output-matrix
              .left-bracket
              .middle
                .c0 
                  #matrices-transform-output-c0x.x(spellcheck="false")="1"
                  #matrices-transform-output-c0y.y(spellcheck="false")="0"
                .c1
                  #matrices-transform-output-c1x.x(spellcheck="false")="0"
                  #matrices-transform-output-c1y.y(spellcheck="false")="1"
              .right-bracket
            .text-field#matrix-transform-output-field="Success"

  //- MATRIX LIST
  .property-frame#matrices-list-frame(data-width="300px")
    .top-bar.draggable
      .close-button
      .title="matrix list"
    ul.properties-list#matrix-properties-list
      

  //- VECTOR ADD
  .property-frame#vectors-add-frame
    .top-bar.draggable
      .close-button
      .title="add vectors"
    ul.properties-list
      li.text-field
        .left-wrapper
          .label="name"
        .right-wrapper
          .text-field#vectors-add-name-field(contenteditable="true" spellcheck="false")
      li.vector
        .left-wrapper
          .label="vector"
        .right-wrapper
          .input-vector
            .left-bracket
            .middle
              #vectors-add-x.x(contenteditable="true" spellcheck="false")="0"
              #vectors-add-y.y(contenteditable="true" spellcheck="false")="0"
            .right-bracket
      li.color
        .left-wrapper
          .label="color"
        .right-wrapper 
          input.input-color#vectors-add-frame-input-color(type="color", value="#ff0000")
    .button-list
      .button.add#vectors-add-frame-add-button="add"
      .button.cancel#vectors-add-frame-cancel-button="cancel"

  //- VECTOR UNIT 
  .property-frame#vectors-units-frame(data-width="250px")
    .top-bar.draggable
      .close-button
      .title="unit vectors"
    ul.properties-list
      li.toggler
        .left-wrapper
          .label="enabled unit vectors"
        .right-wrapper
          .toggle-button#vectors-units-frame-toggle-button="x"

  //- VECTOR LIST
  .property-frame#vectors-list-frame(data-width="300px")
    .top-bar.draggable
      .close-button
      .title="vectors list"
    ul.properties-list#vector-properties-list



  //- DOT PRODUCT
  .property-frame#dot-product-frame(data-width="250px")
    .top-bar.draggable
      .close-button 
      .title="dot product"
    ul.properties-list#dot-product-properties-list
      li.text-field.vector-a
        .left-wrapper
          .label="vector a"
        .right-wrapper
          .text-field#dot-product-vector-a-field(contenteditable="true" spellcheck="false")
      li.text-field.vector-b
        .left-wrapper
          .label="vector b"
        .right-wrapper
          .text-field#dot-product-vector-b-field(contenteditable="true" spellcheck="false")
      li.output
        .left-wrapper
          .label="a • b"
        .right-wrapper
          #dot-product-output

  //- DETERMINANT
  .property-frame#determinant-frame(data-width="230px")
    .top-bar.draggable
      .close-button 
      .title="determinant"
    ul.properties-list#determinant-properties-list
      li.text-field
        .left-wrapper
          .label="determinant"
        .right-wrapper
          .text-field#determinant-field
      li.toggler
        .left-wrapper
          .label="display determinant"
        .right-wrapper
          .toggle-button#display-determinant-toggle-button="o"

  //- EIGEN
  .property-frame#eigen-frame(data-width="330px")
    .top-bar.draggable
      .close-button 
      .title="eigen (BETA)"
    ul.properties-list#eigen-properties-list
      li.toggler
        .left-wrapper
          .label="display eigenvectors"
        .right-wrapper
          .toggle-button#display-eigen-vector-toggle-button="o"
      li.eig-list-li#eigen-frame-eig1
        .left-wrapper
          .label="eig 1"
        .right-wrapper 
          .value#eigen-frame-eig-1-value="0"
          .vector
            .left-bracket
            .middle
              .x#eigen-frame-eig-1-x="0"
              .y#eigen-frame-eig-1-y="0"
            .right-bracket
      li.eig-list-li#eigen-frame-eig2
        .left-wrapper
          .label="eig 2"
        .right-wrapper 
          .value#eigen-frame-eig-2-value="0"
          .vector
            .left-bracket
            .middle
              .x#eigen-frame-eig-2-x="0"
              .y#eigen-frame-eig-2-y="0"
            .right-bracket

      

  .warning-frame
    .top-bar.draggable
      .close-button
      .title="warning"
    .content="Invalid color"

  #storage
    li.vector-list-li
      .left-wrapper
        .label="name"
      .right-wrapper 
        .vector
          .left-bracket
          .middle
            .x="0"
            .y="0"
          .right-bracket
        .color 
        .delete-button="del"
    li.matrix-list-li
      .left-wrapper
        .label="name"
      .right-wrapper 
        .matrix
          .left-bracket
          .middle
            .c0
              .c0x.x="0"
              .c0y.y="0"
            .c1
              .c1x.x="0"
              .c1y.y="0"
          .right-bracket
        .delete-button="del"

  main#graph
    #pt

  #log