extends help-layout

block help-headcontent
  meta(name="description", content="Learn how to use tools with Help Linear Algebra")
  meta(property="og:title" content="Graph Linear Algebra | Help tools")
  meta(property="og:description" content="Learn how to use tools with Help Linear Algebra")

block help-content 
  section.nav-panel.wrapper
    h1.help-title= "Tools"
    p.description.
      The tools bar deals with miscellaneous topics such as dot product and determinant. 

  section.property.wrapper#dot-product
    h2.title="#dot-product"
    p.description.
      The dot product panel calculates the dot product between two vectors.

    div.subsection
      h4.subtitle=".vector-a-name, .vector-b-name"
      p.description.
        The input must be the name of a vector in <a href="/help/vectors#list">vectors#list</a>.

  section.property.wrapper#determinant 
    h2.title="#determinant"
    p.description.
      The determinant panel can display and calculate the determinant of the current transformation.
    p.description.
      The current transformation is the output of <a href="/help/matrices#transform">matrices#transform</a>.
      
    div.subsection
        h4.subtitle=".determinant"
        p.description.
            The current determinant of the transformation.

     div.subsection
        h4.subtitle=".display-determinant"
        p.description.
            When it is on, it would display a parallelogram from the column vectors of both the identity matrix and the current transformation. 

